## IDEs
*/.idea
*/.idea/*
*/.project
*/.cproject
*/.settings/*

#/Build
*/Debug/*
*/cmake-build-debug/*


# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Logfiles
*.log

# Self Test files
eUnit/eUnit/eUnitSelfTest/build/*
GDBManipulator/build/gdbMannTest/gdbMannTest
eUnit/eUnit/eUnitSelfTest/BistMode/tests/*.c
eUnit/eUnit/eUnitSelfTest/BistMode/bisttest
eUnit/eUnit/eUnitSelfTest/Host/.idea/
eUnit/eUnit/eUnitSelfTest/Host/runOnHost*
eUnit/eUnit/eUnitSelfTest/Host/tests/*.c


