[submodule "GDBManipulator/lib/SimpleLogging"]
	path = GDBManipulator/lib/SimpleLogging
	url = https://github.com/diridari/SimpleLogging.git
[submodule "GDBManipulator/lib/CPP-Argument-Parser"]
	path = GDBManipulator/lib/CPP-Argument-Parser
	url = https://github.com/diridari/CPP-Argument-Parser.git
